services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - ./memory.mv2:/app/memory.mv2
      - ./database:/app/database
    restart: unless-stopped

volumes:
  python-packages:
